<!-- <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
</div> -->

 
<!-- <div style="text-align:center">
    <h2>
        financial support by departement
    </h2>
    <ul *ngFor="let item of dptList">
       <li>
          <h3>
              dpt Code :{{item.fields}}
             {{ item.key }} - {{ item.value }} 
          </h3>
       </li>
    </ul>
</div> -->
